API_URL=https://xxx.execute-api.ap-northeast-2.amazonaws.com/prod
API_KEY=your-api-key-value-here
CLOUDFRONT_URL=https://xxx.cloudfront.net

RATE_LIMIT=100
BURST_LIMIT=200
QUOTA_LIMIT=10000
WAF_RATE_LIMIT=1000
